
# Distribution / packaging

# Don't exclude Sphinx documentation
!/docs/*

# But exclude "build" folder in the root that is generated for PyPI
/build/*
# Exclude other PyPi distribution folders

dist/
*.egg-info/

MANIFEST.in
Readme.md





